<body>
    <form>
        <h2>Login</h2>
        <input type="text" id="username">
        <input type="password" id="password">
        <button type="button" id="login">Login</button>
    </form>
    <!-- register user form -->
    <form>
        <h2>Register</h2>
        <input type="text" id="newUsername">
        <input type="password" id="newPassword">
        <button type="button" id="register">Register</button>
    </form>
    <script src="app.js"></script>
</body>