<body>
    <div class="loginPage">
        <img class="logo" src="../assets/imgs/Component 2 – 1.svg">
        <div class="wrap">
            <form class="loginForm">
                
                <input type="text" id="username" placeholder="Username">
                <input type="password" id="password" placeholder="Password">
                <button type="button" id="login">Login</button>
            </form>
                <div class="line"></div>
            <form class="registerForm">
                <input type="text" id="newUsername" placeholder="Username">
                <input type="password" id="newPassword" placeholder="Password">
                <button type="button" id="register">Register</button>
            </form>
        </div>
    </div>
    <script src="app.js"></script>
</body>