
html {  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
}

/* ! --- ! --- GRID --- ! --- ! */
article {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 75% 10%;
    width: 90%;
    height: 90%;
    margin: 10px;
}

header {
    grid-column: 1;
    grid-row: 1;
}

nav {
    grid-column: 2;
    grid-row: 1;
}

aside {
    grid-column: 1;
    grid-row: 2;
}

main {
    grid-column: 2 / 3;
    grid-row: 2;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
}
/* ! --- ! --- GRID --- ! --- ! */


/* ! --- ! --- INNER FLEXBOX --- ! --- ! */
#innerGrid {
    display: flex;
    flex-flow: row wrap;
    width: 150px;
    overflow: auto;
    align-content: flex-start; 
}
/* ! --- ! --- INNER FLEXBOX --- ! --- ! */


/* ! --- ! --- MEDIA QUERIES --- ! --- ! */
@media only screen and  (max-width: 800px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center; 
    }

    article > * {
        width: 100%;
        height: 100%;
    }
}
/* ! --- ! --- MEDIA QUERIES --- ! --- ! */