@import url("grid-mediaQs.css");
* {box-sizing: border-box;}

body {
    /* background-color: #ede9d0; */
    /* background-image: linear-gradient(to right top, #ff7c60, #fa9667, #f4ad76, #eec28c, #ebd4a7, #ebd4a7, #ebd4a7, #ebd4a7, #eec28c, #f4ad76, #fa9667, #ff7c60); */
    background-image: linear-gradient(45deg, 
    rgb(249, 193, 102) 0%,
     rgb(249, 193, 102) 4%,
     rgb(248, 174, 96) 4%, 
     rgb(248, 174, 96) 38%,
     rgb(246, 156, 91) 38%, 
     rgb(246, 156, 91) 41%,
     rgb(245, 137, 85) 20%, 
     rgb(245, 137, 85) 44%,
     rgb(244, 118, 79) 44%, 
     rgb(244, 118, 79) 71%,
     rgb(242, 100, 74) 71%, 
     rgb(242, 100, 74) 74%,
     rgb(241, 81, 68) 74%, 
     rgb(241, 81, 68) 100%);
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: #312b2b;
}

header {
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color:rgba(241, 82, 68, 0.75);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    width: 100%;
    padding: 15px;
}

header > h1{
    width: auto; 
    font-size: 2em; 
}

/* == NAV == */
nav {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    /* border-top-left-radius: 5px; */
    background-color:rgba(249, 193, 102, 0.753);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    
}

nav > h1 {
    width: auto;
    float: left;
    font-size: 2em;
}

#searchInput {
    width: 100%;
    border: none;
    border-radius: 12px;
    /* border-top-left-radius: 5px; */
    height: 100%;
}

#searchInput[type=text]  {
    padding: 15px;
    font-size: 20px;
    color: rgb(102, 116, 110);
    background-color: #e9dac0;
}

/* == NAV == */


/* == ASIDE == */
aside {
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(245, 138, 85, 0.76);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}




/* ------------------------------------------- */ 
 
.widget select,
.no-widget .select {
  position: absolute;
  left: -5000em;
  height: 0;
  overflow: hidden;
}

.select {
  position: relative;
  display: inline-block;
  font-size: 0.625em; 
  font-family: Verdana, Arial, sans-serif;
  padding: 0.1em 2.5em 0.2em 0.5em; 
  width: 10em; 
  border: 0.2em solid #000; 
  border-radius: 0.4em; 
  box-shadow: 0 0.1em 0.2em rgba(0,0,0,.45); 
  background : #F0F0F0;
  background: -webkit-linear-gradient(90deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);
  background: linear-gradient(0deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);
}
 
.select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
 
.select:after {
  content: "▼";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 2em; 
  top: 0;
  right: 0;
  padding-top: .1em;
  text-align: center;
  border-left: .2em solid #000;
  border-radius: 0 .1em .1em 0;
  background-color: #000;
  color: #FFF;
}

 .select.active,
.select:focus {
  box-shadow: 0 0 3px 1px #227755;
  outline: none;
}

.select .optList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  border: .2em solid #000;
  border-top-width : .1em;
  border-radius: 0 0 .4em .4em;
  box-shadow: 0 .2em .4em rgba(0,0,0,.4);
  min-width: 100%;
  max-height: 10em; 
  overflow-y: auto;
  overflow-x: hidden;
}
 
.select .option {
  padding: .2em .3em;
}
 
.select .highlight {
  background: #000;
  color: #FFFFFF;
}

.select .optList.hidden {
  max-height: 0;
  visibility: hidden;
}

/* ------------------------------------------- */

/* .select-css {
    display: block;
    font-size: 15px;
    color: #312b2b;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #e9dac0;
  }
  .select-css::-ms-expand {
    display: none;
    background-color: rgb(209, 23, 23);
  }
  /* .select-css:hover {
    background-color: rgb(209, 23, 23);
  } */
  .select-css:focus {
    outline: none;
    
  }
  .select-css option {
  background: #bdb19c;
      padding: 4px 0;
  }

  .select-css option:hover {
    background-color: rgb(209, 23, 23);
    } */





/* ------------------------ */
.switch-field {
    display: flex;
    margin-top: 20px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0); /* */
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	color: #312b2b;
	font-size: 14px;
	padding: 15px;
	transition: all .2s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #e9dac0;
	color: #312b2b;
}

.switch-field label {
    border-radius: 20px;
    margin-right: 5px;
}





/* ------------------------ */

.submitBtn {
    color: #312b2b;
    background-color: #e9dac0; 
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.submitBtn:hover {
    cursor: pointer;
}
/* == ASIDE == */


/* == MAIN == */
main {
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(249, 193, 102, 0.11);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    
    transition: margin-left .5s;
}

#innerGrid{
    padding: 15px; 
    overflow-y: scroll;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

#innerGrid::-webkit-scrollbar {
    display: block;
}

.testDiv {
    width: max-content;  
    height: min-content;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: #00c7f48f;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

#innerGrid > img {
    height: 30%;
    width: auto;
    margin: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}



/* == MAIN == */


/* == FOOTER == */
footer {
    padding: 15px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(242, 99, 74, 0.747);
    text-align: center;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

footer > p {
    
    font-size: 1.2em;
}
/* == FOOTER == */




