@import url("grid-mediaQs.css");
* {box-sizing: border-box;}

body {
    background-image: linear-gradient(45deg, 
    rgb(249, 193, 102) 0%,
     rgb(249, 193, 102) 4%,
     rgb(248, 174, 96) 4%, 
     rgb(248, 174, 96) 38%,
     rgb(246, 156, 91) 38%, 
     rgb(246, 156, 91) 41%,
     rgb(245, 137, 85) 20%, 
     rgb(245, 137, 85) 44%,
     rgb(244, 118, 79) 44%, 
     rgb(244, 118, 79) 71%,
     rgb(242, 100, 74) 71%, 
     rgb(242, 100, 74) 74%,
     rgb(241, 81, 68) 74%, 
     rgb(241, 81, 68) 100%);
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: #312b2b;
}

header {
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color:rgba(241, 82, 68, 0.75);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    width: 100%;
    padding: 15px;
}

header > h1{
    width: auto; 
    font-size: 2em; 
}

/* == NAV == */
nav {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    /* border-top-left-radius: 5px; */
    background-color:rgba(249, 193, 102, 0.753);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    
}

nav > h1 {
    width: auto;
    float: left;
    font-size: 2em;
}

#searchInput {
    width: 90%;
    border: none;
    border-radius: 12px;
    height: 100%;
    float: left;
}

#searchInput[type=text]  {
    padding: 15px;
    font-size: 1em;
    color: rgb(102, 116, 110);
    background-color: #e9dac0;
}

#searchButton {
    border-style: none;
    border-radius: 1em;
    float: right;
    padding: .5rem;
    height: 3rem;
    background-color: #e9dac0;
}

#searchButton:hover {
  cursor: pointer;
}
/* == NAV == */


/* == ASIDE == */
aside {
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(245, 138, 85, 0.76);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}


/* ----- ----- Switch State ----- ----- */
.switch-field {
  display: flex;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0); /* */
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label { 
  border-radius: 50px;
  height: 45px;
  margin-right: 5px;
  color: #312b2b;
  font-size: 14px;
  padding: 15px;
  transition: all .2s ease-in-out;
}

.switch-field label:hover {
cursor: pointer;
}

.switch-field input:checked + label {
background-color: #e9dac0;
color: #312b2b;
}


/* ----- ----- Select ----- ----- */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #e9dac0;
  border-radius: 20px;
  padding: 10px;
  
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  color: greenyellow;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 0, 0) transparent;
  top: 7px;
}

.select-items {
  position: absolute;
  background-color: #e9dac0;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/* ----- ----- Upload Button ----- ----- */
.uploadWrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileButton {
  border-radius: 20px;
  border: none;
  background-color: #e9dac0;
  padding: 10px;
}

.uploadWrap input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploadWrap input:hover {
  cursor: pointer;
}

.login {
  text-decoration: none;
  color: inherit;
  font-size: 1em;

}
/* == ASIDE == */


/* == MAIN == */
main {
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(249, 193, 102, 0.11);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
}

#innerGrid{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    scrollbar-width: none;
}

#innerGrid::-webkit-scrollbar {
    display: block;
}

.infoMenu {
  height: min-content;
  width: 150px;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
  border-top-left-radius: 5px;
  background-color: #00c7f48f;
  box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}





/* #innerGrid > img {
    height: 30%;
    width: auto;
    margin: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
} */



/* == MAIN == */


/* == FOOTER == */
footer {
    padding: 15px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(242, 99, 74, 0.747);
    text-align: center;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

footer > p {
    
    font-size: 1.2em;
}

.userSection {
  margin-right: 20px;
  float: right;
}

a {
  margin-left: 20px;
  font-size: .75em;
}
/* == FOOTER == */




