@import url("reset.css");
@import url("grid-mediaQs.css");
@import url("img-widget.css");
* {box-sizing: border-box;}

body {
    background-image: linear-gradient(45deg, 
    rgb(249, 193, 102) 0%,
    rgb(249, 193, 102) 4%,
    rgb(248, 174, 96) 4%, 
    rgb(248, 174, 96) 38%,
    rgb(246, 156, 91) 38%, 
    rgb(246, 156, 91) 41%,
    rgb(245, 137, 85) 20%, 
    rgb(245, 137, 85) 44%,
    rgb(244, 118, 79) 44%, 
    rgb(244, 118, 79) 71%,
    rgb(242, 100, 74) 71%, 
    rgb(242, 100, 74) 74%,
    rgb(241, 81, 68) 74%, 
    rgb(241, 81, 68) 100%);
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: #312b2b;
}

header {
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color:rgba(241, 82, 68, 0.75);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column; 
}

.logoHome {
  width: 75%;
  height: auto;
}


/* == == == LOGIN PAGE == == == */
.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column; 
}

.logo {
  width: 50%;
  height: auto;
}

.wrap {
  border-radius: 20px;
  border-top-left-radius: 5px;
  padding: 1rem;
}
 

.wrap > button {
  font-size: 1.5  rem;
  padding: .5rem;
  cursor: pointer;
  border: 2px rgb(65, 65, 65) solid;
  border-radius: 5px 20px 20px 20px;  
  margin: 1rem 0rem 0em .5rem;
}

#login {
  background: #333;
  color: #eee781;
}
  
#register{
  background: #333;
  color: #81ee87;
}

.wrap > input {
  padding: .5rem;
  margin: .5rem 0rem;
  border: 2px rgb(65, 65, 65)  solid;
  border-radius: 20px;
}

#username, #password {
  background: #eee781;
}

#newUsername, #newPassword {
  background: #81ee87;
}

.line {
  width: 100%;
  height: 1rem;
  border-bottom: 2px #333 solid;
  margin: 20px;
}

/* == == == LOGIN PAGE == == == */


/* == NAV == */
nav {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(249,193, 102, 0.753);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    
}

nav > h1 {
    width: auto;
    float: left;
    font-size: 2em;
}

#search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row; 
}

#searchInput {
    width: 90%;
    border: none;
    border-radius: 12px;
    height: 100%;
    margin-right: 1em;
}

#searchInput[type=text]  {
    padding: 15px;
    font-size: 1em;
    color: rgb(102, 116, 110);
    background-color: #e9dac0;
}

#searchButton {
    border-style: none;
    border-radius: 1em;
    padding: .5rem;
    background-color: #e9dac0;
}

#searchButton:hover {
  cursor: pointer;
}
/* == NAV == */


/* == ASIDE == */
aside {
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(245, 138, 85, 0.76);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

a > img {
    width: 50%;
    max-width: 35px;
    height: auto;
    transition: ease .5s .1s;
    float: right;
}

h1 {
  font-size: 1.1rem;
}

.newest, .oldest {
  text-decoration: none;
  color: inherit;
}

.newest img:hover {
  transform: translateY(-15px)
}

.oldest img:hover {
  transform: translateY(15px)
}


/* ----- ----- Upload Button ----- ----- */
.uploadWrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileButton {
  border-radius: 20px;
  border: none;
  background-color: #e9dac0;
  padding: 10px;
}

.uploadWrap input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploadWrap input:hover {
  cursor: pointer;
}

.login {
  border: 3px  #e9dac0 solid;
  background-color: #81ee87;
  border-radius: 20px;
  border-top-left-radius: 5px;
  color: inherit;
  float: right;
}

#img-preview {
  width: 100%;
  height: auto;
}
/* 
h6 {
  color: #333;
  font-size: 1.3em;
  margin: .75rem;
} */

/* == ASIDE == */


/* == MAIN == */
main {
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(249, 193, 102, 0.11);
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
}

#innerGrid{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    scrollbar-width: none;
}

#innerGrid::-webkit-scrollbar {
    display: block;
}

.infoMenu {
  height: min-content;
  width: 10em;
  margin: 20px;
  padding: 15px;
  border-radius: 20px;
  border-top-left-radius: 5px;
  background-color: #81ee87;
  box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

.infoBtn {
    border-style: none;
    background: #312b2b;
    color: #e9dac0;
    border-radius: 300px;
    float: right;
    transition: ease-in-out;
}

.deletebutton {
  float: right; 
  border: none;
  background-color: transparent;
}

.deleteX {
    width: 12px;
    height: auto;
}

.deleteX:hover {
    transform: rotate(15deg);
    cursor: pointer; 
}

.infoHover {
  position: relative;transition: ease-in-out 2s;
}

.infoContent {
  position: absolute;
  background-color: #312b2b;
  color: #333333be;
  width: 100px;
  box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.infoContent h4 {
  color: #e9dac0;
  padding: 10px;
}

.infoHover:hover .infoContent{
    display: contents;
    visibility: visible;
    opacity: 1;
}

.infoHover:hover .infoBtn {
  color: red;
  cursor: pointer;
}
/* #innerGrid > img {
    height: 30%;
    width: auto;
    margin: 20px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
} */



/* == MAIN == */


/* == FOOTER == */
footer {
    padding: 15px;
    border-radius: 20px;
    border-top-left-radius: 5px;
    background-color: rgba(242, 99, 74, 0.747);
    text-align: center;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.75);
}

footer > p {
    
    font-size: 1.2em;
}

/* == FOOTER == */




